body {
    background-color: #111113;
}

.main-search-form {
    display: flex;
    justify-content: center;
    margin: 40px 0px -100px 0px;
  }
  
#main-search-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px; 
  outline: none;
}

.cover-container {
  text-align: center;
  vertical-align: middle;
  width: 200px;
}


table {
  width: 80%;
  border-spacing: 50px;
  border-collapse: separate;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.description {
  margin-top: auto;
  margin-bottom: auto;
}

.game-cover {
  width: 100%;
  display: block; 
  border: 3px solid white; 
  box-sizing: border-box;
  margin: auto;
}

.game-title {
  color: white;
  font: 1.5em 'silkscreen2', sans-serif;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #541A8C;
  text-decoration-thickness: 4px;
}

.before-search {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3%;
}

.no-res {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-top: 200px;

}