body {
    background-color: #111113;
}

.main-search-form {
    display: flex;
    justify-content: center;
    margin: 40px 0px -100px 0px;
  }
  
#main-search-input {
  height: 3.0rem;
  background-color: #111113;
  color: white; 
  outline: none;
  border: 2px solid white; 
  border-radius: 0px;
  font-size: 1rem;
  width: 50%;
  padding: 0 3.0rem 0 1rem;
}

#main-search-input::placeholder {
  color: white;
  font: 1.5rem 'silkscreen1', sans-serif;
}

.cover-container {
  text-align: center;
  vertical-align: middle;
  width: 200px;
}


table {
  width: 80%;
  border-spacing: 50px;
  border-collapse: separate;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.description {
  margin-top: auto;
  margin-bottom: auto;
}

.game-cover {
  width: 100%;
  display: block; 
  border: 3px solid white; 
  box-sizing: border-box;
  margin: auto;
}

.game-title {
  color: white;
  font: 1.5em 'silkscreen2', sans-serif;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #541A8C;
  text-decoration-thickness: 4px;
}

.before-search {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}

.no-res {
  color: red;
  text-align: center;
  margin-top: 200px;
  font: 2.5rem 'silkscreen1', sans-serif;
}