.friend {
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend-list {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    margin-top: 10px;
    animation: fadeIn 0.2s ease-in-out;
    overflow-y: auto; /* Enable vertical scrolling */
}

.friend-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}

.yes {
    color: white;
    font: 1.5rem 'silkscreen1', sans-serif;
    width: 600px;
    height: 80px;
    text-align: center;
    margin: auto auto;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
