.game_scs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1%;
}

.game_scs .background-image {
    width: 854px;
    height: 480px;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.game_scs .background-image::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border-radius: inherit;
    background: 
        linear-gradient(to bottom, transparent 80%, #111113 100%),
        linear-gradient(to right, transparent 80%, #111113 100%),
        linear-gradient(to left, transparent 80%, #111113 100%),
        linear-gradient(to top, transparent 80%, #111113 100%);
    z-index: 2;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3; /* added to bring the container in front of the carousel */
    margin-top: -140px;
    margin-left: auto;
    margin-right: auto; 
    width: 1200px;
}

.visual {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 100px;
    height: 100%;
}

.cover {
    width: 253px;
    height: 337.33px;
    object-fit: contain;
    object-position: center;
    border-radius: 25px;
    display: block;
}

.info {
    margin-left: 20px;
    width: 600px;
    height: 200px;
    background: transparent;
}

.gametitle {
    color: white;
    text-decoration: underline;
    text-decoration-color: #541A8C;
    text-decoration-thickness: 4px;
    font-size: 30px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.release-text {
    color: rgb(223, 223, 223);
    font-size: 20px;
    font-weight: 200;
}

.release-date {
    color: rgb(226, 226, 226);
    font-size: 20px;
}

.summary {
    color: white;
}

.reviews {
    color: white;
}

.details {
    h2 {
        color: white;
        text-decoration: underline;
        text-decoration-color: #541A8C;
        text-decoration-thickness: 4px;
        font-size: 30px;
        margin-bottom: -10px;
        margin-top: -10px;
    }
    width: 200px;
    height: 200px;
    background: transparent;
    color: white;
    font-size: 20px;
}

.noImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
    margin-top: 200px;
    color: white;
}

.button-column {
    text-align: center;
    vertical-align: middle;
}