@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.slider {
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
    margin-left: 20%;
}

.slide-track {
    display: inline-block;
    animation: 800s slide infinite linear;
}

.slide-track img {
    opacity: 0.6;
    margin: 0 10px;
    width: 180px;
    border-radius: 20px;
}
