body {
    background-color: #111113;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease-in forwards;
    margin-top: auto;
    margin-bottom: auto;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.parent {
    margin-top: 13px;
}
/* 
.explore {
    position: absolute;
    top: 585px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    font-size: larger;
} */

@keyframes blink {
    0%, 50%, 100% {opacity: 0;}
    25%, 75% {opacity: 0.7;}
}

.website-intro {
    padding: 20px;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -42%);
    color: white;
    text-align: center;
    background-color: #282828;
    height: 200px;
    width: 500px;
    border: 3px solid white;
    animation: blink 0.15s step-start 1;
}

#intro-text {
    font: 1.4em 'silkscreen1', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

@keyframes breathe {
    0% { color: white; }
    25% { color: rgb(167, 247, 220); }
    50% { color: rgb(123, 252, 209); }
    75% { color: rgb(167, 247, 220); }
    100% { color: white; }
  }

.explore-link {
    text-decoration: none;
    font: 2em 'silkscreen4', sans-serif;
    color: white;
    animation: breathe 2s linear infinite;
}
