body {
    background-color: #111113;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease-in forwards; /* Add this line */
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.parent {
    margin-top: 13px;
}

.explore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.explore-link {
    text-decoration: none;
    color: white;
    font-size: 2em;
    background-color: #541A8C;
    padding: 10px 20px;
    border-radius: 10px;
    transition: #070707 0.3s;
}
