@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    margin-top: 10px;
    animation: fadeIn 0.2s ease-in-out;
    overflow-y: auto; /* Enable vertical scrolling */
}

.game-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}

.content-area {
    display: flex;
}

.allGames {
    margin-left: 20px;
}

.library-game-title {
    display: block;
    margin-bottom: 10px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.library-cover {
    width: 150px;
    height: auto;
    object-fit: contain;
    object-position: center;
    border-radius: 25px;
    display: block;
    cursor: pointer;
}