  .navbar {
    display: flex;
    position: relative;
    justify-content: flex-start;
    padding: 0.5em;
    background-color: #282828;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font: 1.5rem 'silkscreen1', sans-serif;
  }

  .elements {
    display: grid;
    grid-gap: 10px;
    margin-right: 40px;
  }

  .navbar::after {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    box-shadow: 
      -1px -1px 0 1px #000, /* top and left border */
      1px 1px 0 1px #000, /* bottom and right border */
      -2px -2px 0 2px #fff, /* top and left highlight */
      2px 2px 0 2px #fff; /* bottom and right highlight */
    z-index: -1;
  }
  
  .navbar a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
  }

  .search-menu {
    display: flex;
    align-items: center;
  }
  
  .search-form {
    display: flex;
    position: relative;
    align-items: center;
  }
  
  .search-form input {
    width: 80%;
    height: 2.0rem;
    background-color: #111113;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .search-svg {
    margin-top: 0.2rem;
    margin-left: -2.1rem;
    background: none;
    border: none;
    outline: none;
  }

  #search-icon {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -2.5rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .search-form input:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.1s ease;
  }

  .search-form input:focus {
    background-color: #ffffff;
    transition: background-color 0.1s ease;
    outline: none; 
  }
  
  #sign-up-button {
    display: block;
    margin-top: 50px;
  }

  .sign-in-btn {
    display: block;
    text-align: center;
    border: none;
    color: white;
    background: transparent;
    font: 1.5rem 'silkscreen1', sans-serif;
    cursor: pointer;
  }

  .sign-out-btn {
    display: block;
    text-align: center;
    border: none;
    color: white;
    background: transparent;
    font: 1.5rem 'silkscreen1', sans-serif;
    cursor: pointer;
  }

  .title {
    font: 2rem 'silkscreen2', sans-serif;
    font-size: 46px;
    margin-left: 40px;
  }

  @keyframes highlight {
    0% { color: transparent; }
    50% { color: rgb(123, 252, 209); }
    100% { color: rgb(123, 252, 209); }
  }

  .navbar a:hover, .sign-in-btn:hover, .sign-out-btn:hover {
    animation: highlight 0.08s linear 2;
    color: rgb(225, 150, 255);
  }

  @keyframes blink {
    0%, 50%, 100% {opacity: 0;}
    25%, 75% {opacity: 0.7;}
  }

  @keyframes blink-error {
    0%, 50%, 100% {opacity: 0;}
    25%, 75% {opacity: 0.7;}
  }

  .sign-in-form {
    color: #ffffff;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    animation: blink 0.15s step-start 1.2;
    z-index: 2;
  }

  .sign-in-input {
    height: 1.2rem;
    background-color: #111113;
    outline: none;
    color: white;
    border: 2px solid white; 
    border-radius: 0px;
    font-size: 1rem;
    margin: 10px 5px; 
  }

  .sign-in-error {
    height: 1.2rem;
    background-color: #111113;
    outline: none;
    color: white;
    border: 2px solid red; 
    border-radius: 0px;
    font-size: 1rem;
    margin: 10px 5px;
    animation: blink-error 0.15s step-start 1.2;
  }
  
  .sign-in-input::placeholder {
    color: white;
    font: 1.2rem 'silkscreen1', sans-serif;
  }

  #close-sign-in {
    background-color: #000;
    color: red;
    font: 1rem 'silkscreen1', sans-serif;
    margin-right: 5px;
    z-index: 2;
  }

  .sign-in-submit {
    color: white;
    font: 1rem 'silkscreen1', sans-serif;
    background-color: #111113;
    margin-top: 10px;
    z-index: 2;
  }

  .profile-container {
    position: relative;
    display: inline-block;
  }

  .profile-icon {
    margin-top: 6px;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  
  .profile-menu {
    text-align: center;
    width: 100px;
    position: absolute;
    /* background-color: #111113; */
    top: 100%;  /* Position at the bottom of the image */
    left: 50%;  /* Position at the center of the container */
    transform: translateX(-50%);  /* Shift the div back by half of its width */
    font: 1.5rem 'silkscreen1', sans-serif;
    z-index: 1;
    animation: blink 0.15s step-start 1.2;
  }
  
  .profile-link {
    width: 100px;
    background-color: #000;
    color: white;
    font: 1rem 'silkscreen1', sans-serif;
    transition: transform 0.3s ease;
  }

  .profile-link:hover {
    transform: translateX(-20px);
}