.display-reviews {
    width: 600px;
}

.user-review {
    color: white;
    width: 100%;
    max-width: 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user-review:hover {
    .review-hover {
        visibility: visible;
    }
}

.review-pencil, .review-trashcan {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
}

.review-header {
    display: flex;
    margin-bottom: 10px;
    position: relative;
}

.review-hover {
    position: absolute;
    right: 0px;
    visibility: hidden;
    display: flex;
    margin-left: auto;
}

.review-rating {
    margin-left: 20px;
}

.game-reviews {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
}

.no-reviews {
    margin-bottom: 20px;
    color: white;
}

.review-divider {
    margin-bottom: 20px;
}

.review-date {
    margin-left: 20px;
}
