.suggestion-explore {
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 10;
    background-color: #111113;
    .suggestion:hover {
        background-color: #541A8C;
    }

    .suggestion {
        color: white;
        text-align: center;
        width: 100%;
        background-color: #111113;
        border: 2px solid white;
        cursor: pointer;
    }
}

.suggestion-navbar {
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 10;
    background-color: #111113;
    font: 0.8rem 'Roboto', sans-serif;
    .suggestion:hover {
        background-color: #541A8C;
    }
    .suggestion {
        color: white;
        text-align: center;
        width: 100%;
        background-color: #111113;
        border: 2px solid white;
        cursor: pointer;
    }
}
