.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 10%;
}

.sign-up-container input {
    margin: 10px 0;
    width: 100%;
}
