.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
    margin-top: 200px;
}

.sign-up-container input {
    margin: 10px 0;
    width: 100%;
}
