.rating_stars {
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    color: #918f8f;
    position: relative;
    z-index: 1;
}

.rating_stars span .fa, .rating_stars span.active-low .starEmpty, .rating_stars span.active-high .starEmpty, .rating_stars span.inactive .starEmpty {
    display: none;
}

.rating_stars span .starEmpty {
    display: inline-block;
    color: white; 
}

.rating_stars span.s.active-high .starFilled {
    display: inline-block; 
    color: #feb645;
}

.rating_stars span.s.active-low .halfStar {
    display: inline-block; 
    color: #feb645;
}

.rating_stars span.s.inactive .starEmpty {
    display: inline-block;
}

.rating_stars span.r {
    position: absolute;
    top: 0;
    height: 20px;
    width: 10px;
    left: 0;
}

.rating_stars span.r.r0_5 {left: 0px;}
.rating_stars span.r.r1 {left: 10px; width: 11px;}
.rating_stars span.r.r1_5 {left: 21px; width: 13px;}
.rating_stars span.r.r2 {left: 34px; width: 12px;}
.rating_stars span.r.r2_5 {left: 46px; width: 12px;}
.rating_stars span.r.r3 {left: 58px; width: 11px;}
.rating_stars span.r.r3_5 {left: 69px; width: 12px;}
.rating_stars span.r.r4 {left: 81px; width: 12px;}
.rating_stars span.r.r4_5 {left: 93px; width: 12px;}
.rating_stars span.r.r5 {left: 105px; width: 12px;}
