@font-face {
    font-family: 'silkscreen1';
    src: url('./slkscr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

    @font-face {
        font-family: 'silkscreen2';
        src: url('./slkscrb.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'silkscreen3';
        src: url('./slkscre.ttf') format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'silkscreen4';
        src: url('./slkscreb.ttf') format('truetype');
        font-weight: bold;
        font-style: italic;
    }
  