  .navbar {
    display: flex;
    justify-content: flex-start;
    padding: 0.5em;
    background-color: #282828;
  }
  
  .navbar a:first-child {
    margin-right: auto;
  }
  
  .navbar a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-form input {
    margin-right: 1em;
  }
 
  .dropdown-menu {
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 8px;
    z-index: 1;
    width: 150px; /* Adjust this value to your preference */
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    align-items: center; /* Add this line */
    text-align: center;
  }

  .profile-link {
    display: flex;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 4px 8px;
    text-decoration: none;  
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* components/Navbar.css */
  .profile-menu {
    position: relative;
  }
